<template name="acc_fixAssetExpense">
    <div class="animated fadeIn">
        <p>
            <button type="button" class="btn btn-primary depreciationExpense">{{fa "plus"}}  Expense</button>
        </p>

        {{> tabular table=Acc.TabularTable.FixAssetExpense selector=selector class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>

<template name="acc_fixAssetExpenseAction">
    <button class="btn btn-danger remove"><a href="#">{{fa "remove"}}</a></button>
</template>

<template name="acc_fixAssetExpenseInsert">
    <form id="dateExpense">
        <div class="form-group">
            <label for="Date">Date:</label>
            <input type="text" class="form-control dateExpense" name="dateExpense">
        </div>
        <button type="button" class="btn btn-primary save">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default reset">{{fa "refresh"}} Reset</button>
    </form>
</template>
