<!--Index-->
<template name="acc_journal">
    <div class="animated fadeIn">
        <p style="margin-bottom: 10px">
            <a href="{{pathFor 'acc.journalInsert'}}" type="button" class="btn btn-primary insert">{{fa "plus"}} Add
                New</a>
        </p>
        {{> tabular table=Acc.TabularTable.Journal class="table table-striped table-bordered table-condensed table-hover"}}

        <!-- {{#if isSubReady "acc_journal"}}
            {{> tabular table=Acc.TabularTable.Journal class="table table-striped table-bordered table-condensed table-hover dbJournal"}}
        {{else}}
            {{> loading}}
        {{/if}}-->

    </div>
</template>

<!--Action-->
<template name="acc_journalAction">
    {{#tabularAction}}
        <!--<li><a href="{{pathFor 'acc.journalUpdate' id=this._id}}" class="update">{{fa "pencil"}} Update</a></li>-->
        <li><a href="#" class="update">{{fa "pencil"}} Update</a></li>
        <li><a href="#" class="remove">{{fa "remove"}} Remove</a></li>
        <li><a href="#" class="show">{{fa "eye"}} Show</a></li>
    {{/tabularAction}}
</template>

<!--Show-->
<template name="acc_journalShow">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>{{_id}}</dd>
        <dt>JournalDate</dt>
        <dd>{{journalDate}}</dd>
        <dt>VoucherId</dt>
        <dd>{{voucherId}}</dd>
        <dt>Memo</dt>
        <dd>{{memo}}</dd>
        <dt>Transaction</dt>
        <dd>
            <table class="table">
                <thead>
                <tr>
                    <th>Account</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                </thead>
                <tbody>
                {{#each transaction}}
                    <tr>
                        <td>{{getChartAccount accountDoc._id}}</td>
                        <td>{{formatMoney dr}}</td>
                        <td>{{formatMoney cr}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </dd>
        <dt>Currency</dt>
        <dd>{{currencyId}}</dd>
    </dl>
</template>
<template name="acc_journalInsert">
    {{#autoForm collection=Acc.Collection.Journal id="acc_journalInsert" type="insert"}}
        <div class="row">
            <div class="col-md-9">
                <!--Journal Temporary-->
                {{> acc_journalDetail}}
                <button type="submit" class="btn btn-primary save-journal">{{fa "floppy-o"}} Save</button>
                <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <div style="height: 20px;"></div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{> afQuickField name='journalDate' type="text" id='journalDate' class="input-sm" value=disableDate}}
                        {{> afQuickField name='currencyId' id='currencyId' class="input-sm"}}
                        {{> afQuickField name='voucherId' id='voucherId' class="input-sm" value=voucherId }}
                        {{> afQuickField name='memo' id='memo' class="input-sm"}}
                    </div>
                </div>
            </div>
        </div>
        
    {{/autoForm}}
</template>

<template name="acc_journalUpdate">
    {{#if isSubReady}}
        {{#autoForm collection=Acc.Collection.Journal id="acc_journalUpdate" doc=journals type="update"}}
            <div class="row">
                <div class="col-md-9">
                    <!--Journal Temporary-->
                    {{> acc_journalDetail}}

                    <button type="submit" class="btn btn-primary save-journal">{{fa "floppy-o"}} Save</button>
                    <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div style="height: 20px;"></div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            {{> afQuickField name='journalDate' type="text" id="journalDate" class="input-sm"}}
                            {{> afQuickField name='currencyId' id="currencyId" class="input-sm"}}
                            {{> afQuickField name='voucherId' id='voucherId' class="input-sm" value=voucherId}}
                            {{> afQuickField name='memo' class="input-sm"}}
                        </div>
                    </div>
                </div>
            </div>

        {{/autoForm}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>



