<!--Journal Temporary-->
<template name="acc_journalDetail">
    <div class="row">
        <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
            <b>Chart of Account</b>
        </div>
        <div class="col-sm-5" style="padding-right:1px;padding-left:0px;">
            <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                <b>Debit</b>
            </div>
            <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                <b>Credit</b>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
            <div class="form-group">
                <select id="tmpAccount" class="tmpAccount" name="tmpAccount" style="width: 100%">
                    {{#each chartAccount}}
                        <option value="{{code}} | {{name}} | {{accountType}}">{{code}} | {{name}} | <span
                                class="pull-right">{{accountType}}</span></option>
                    {{/each}}
                </select>
            </div>

        </div>
        <div class="col-sm-5" style="padding-right:1px;padding-left:0px;">
            <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                <div class="form-group">
                    <input type="text" step="1" name="tmpDr" class="form-control tmpDr" placeholder="Debit">
                </div>
            </div>
            <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                <div class="form-group">
                    <input type="text" step="0.01" name="tmpCr" class="form-control tmpCr" placeholder="Credit">
                </div>
            </div>
        </div>

        <div class="col-sm-1" style="padding-right:0px;padding-left:0px;">
            <button type="button" class="btn btn-primary addItem" {{cssClassForAddMore}}>+</button>
        </div>
    </div>


    <hr>
    {{#each journals}}
        <div class="row listJournal">
            <div class="col-sm-6"
                 style="padding-right:1px;padding-left:0px;">{{> afQuickField name=indexAccount value=account id=indexAccount readonly="true" label=false class="input-sm account"}}</div>
            <div class="col-sm-5" style="padding-right:1px;padding-left:0px;">
                <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                    <div style="padding-right:1px;padding-left:0px;">{{> afQuickField name=indexDr id=indexDr value=dr label=false type="text" class="dr input-sm"}}</div>

                </div>
                <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                    <div style="padding-right:1px;padding-left:0px;">{{> afQuickField name=indexCr value=cr id=indexCr label=false type="text" class="cr input-sm"}}</div>
                </div>
            </div>
            <div class="col-sm-1" style="padding-right:1px;padding-left:0px;">
                <button type="button" class="btn btn-danger removeItem input-sm">-</button>
            </div>
        </div>
    {{/each}}

    <div class="row">
        <div class="col-sm-3 pull-left" style="padding-right:1px;padding-left:0px;text-align: left;">
            <button type="submit" class="btn btn-primary save-journal">{{fa "floppy-o"}} Save</button>
            <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
        </div>


        <div class="col-sm-3" style="padding-right:1px;padding-left:0px;text-align: right;">
            <b>Total :</b>
        </div>
        <div class="col-sm-5" style="padding-right:1px;padding-left:0px;">
            <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                <input type="text" name="totalDr" readonly id="total-debit"
                       value={{totalDr}} class="form-control input-sm">
            </div>
            <div class="col-sm-6" style="padding-right:1px;padding-left:0px;">
                <input type="text" name="totalCr" readonly id="total-credit"
                       value={{totalCr}} class="form-control input-sm">
            </div>
        </div>
    </div>
</template>


