<!--Index-->
<template name="acc_mapClosing">
    <div class="animated fadeIn">
        <!--<p>
        <button type="button" class="btn btn-primary insert">{{fa "plus"}} Add New</button>
    </p>-->
        {{> tabular table=Acc.TabularTable.MapClosing class="table table-striped table-bordered table-condensed table-hover"}}
    </div>
</template>
<template name="acc_mapClosingAction">
    <a href="#" class="btn btn-primary update"> {{fa "pencil"}}</a>
</template>

<!--Update-->
<template name="acc_mapClosingUpdate">

    {{#autoForm collection=Acc.Collection.MapClosing id="acc_mapClosingUpdate" doc=this type="update"}}
        <div class="row">
            {{> afQuickField name='chartAccountCompare' readonly=true}}
            {{> afQuickField name='chartAccount'}}
        </div>
        <button type="submit" class="btn btn-primary preventDef">{{fa "floppy-o"}} Save</button>
        <button type="reset" class="btn btn-default">{{fa "refresh"}} Reset</button>
    {{/autoForm}}
</template>
